* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    
}

body {
    background: #fff;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #0ec9aa;
    padding: 30px 0;
}

.wrapper .sidebar h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin: 1rem;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

wrapper .sidebar ul li:hover {
    background: #594f8d;
}

wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .main_content {
    margin-left: 250px;
    width: 100%;
}

.wrapper .main_content .header{
    padding: 25px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.header2 {
    text-align: right;
    border-bottom: 1px solid #e0e4e8;
}
.header2 p {
    padding: 0.3rem;
    padding-right: 5rem;
    border: 1px solid black;
    width: 30%;
    margin-left: 15rem;
    
}
.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
}

.header-background {
    background-color: #0ec9aa;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10rem;
    padding: 1rem;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.registrationheader {
    color: azure;
    font-family: fantasy;
}
